.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore everything in gen folders

gen/ts/*
gen/python/*

# Except the go.mod file
!gen/go/go.mod
!gen/go/go.sum

# Except the package.json file
!gen/ts/package.json

# Except the setup.py file
!gen/python/setup.py

node_modules/

