# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
out/

# Test files
test/
tests/
coverage/

# Configuration files
*.env
*.local

# Misc
.DS_Store
*.swp
*.swo

# Source control
.git
.gitignore

# IDE files
.vscode/
.idea/
*.iml

lib/